<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blender Flask Console</title>
    <link rel="stylesheet" href="https://cdn.staticfile.net/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.net/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.net/popper.js/1.15.0/umd/popper.min.js"></script>
    <script script src="https://cdn.staticfile.net/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <header>
        <div id="navbar" class="navbar navbar-expand-lg shadow-lg">
            <a class="navbar-brand" href="#">
                <img src="../static/imgs/logo.jpg" width="50" height="50" alt="">
            </a>
            <h1>S·A·N·D·I·S·H</h1>
        </div>
    </header>
    <main>
        <div id="main-box" class="container-fluid d-flex justify-content-center">
            <div class="col"></div>
            <div class="col-10">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-8">
                        <div class="row d-flex justify-content-center" style="margin-top: 20px">
                            <div class="shadow-lg text-center">
                                <img id="img-front" src="../static/imgs/default_front.jpg" alt="">
                                <div class="col stripe align-middle">
                                    图片输出<span id="img-output-span"></span>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col text-center">
                                <button disabled type="button" id="b_render" class="btn btn-dark btn-bpy"
                                    onclick="beginRendering()">开始渲染</button>
                                <button disabled type="button" id="e_render" class="btn btn-dark btn-bpy"
                                    onclick="endRendering()">中止渲染</button>
                                <div class="w-100"></div>
                            </div>
                            <div id="console-box" class="container">
                                <div class="mb-3">
                                    <h2 class="text-center">🔻Console</h2>
                                    <div id="console" class="overflow-auto"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </main>

    <script src="../static/js/index.js"></script>
</body>

</html>